<div class="flex w-full max-w-7xl justify-center md:col-span-6 print:hidden">
  <a href="/" class="group flex items-center space-x-1 text-xs">
    <span class="flex items-center gap-1 underline decoration-dotted underline-offset-4 transition group-hover:underline-offset-4">
      Hecho por     
      <a href="/">
        <img 
          src="/logokevsinfondo.svg"
          alt="Logo Kev"
          class="h-12 w-auto inline-block pl-2"
        />
      </a>
    </span>
  </a>
</div>
