---

---

<div class="flex w-full max-w-7xl justify-center md:col-span-6 print:hidden">
	<a href="https://twitter.com/SmileSharks?utm_source=portfolio_astro" rel="noreferrer" target="_blank" class="group flex items-center space-x-1 text-xs">
		<span class="hover:decoration- flex gap-1 underline decoration-dotted underline-offset-4 transition group-hover:underline-offset-4"
			>Made by Kev JM
			<svg class="text-skin-hue w-4 group-hover:animate-pulse" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" fill="none">
				<text x="10" y="75" font-family="Arial, sans-serif" font-size="80" fill="currentColor" font-weight="bold">K</text>
			  </svg>
			  
		</span>
	</a>
</div>
